
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 30% 98%; /* Bege: #fafaf5 */
    --foreground: 112 35% 23%; /* Verde escuro: #305027 */

    --card: 60 30% 98%;
    --card-foreground: 112 35% 23%;

    --popover: 60 30% 98%;
    --popover-foreground: 112 35% 23%;

    --primary: 112 35% 23%; /* Verde: #305027 */
    --primary-foreground: 60 30% 98%; /* Bege: #fafaf5 */

    --secondary: 112 15% 88%;
    --secondary-foreground: 112 35% 23%;

    --muted: 112 15% 90%;
    --muted-foreground: 112 20% 40%;

    --accent: 112 15% 85%;
    --accent-foreground: 112 35% 23%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 30% 98%;

    --border: 112 20% 85%;
    --input: 112 20% 85%;
    --ring: 112 35% 23%;

    --radius: 0.5rem;

    --sidebar-background: 60 30% 95%;
    --sidebar-foreground: 112 35% 23%;
    --sidebar-primary: 112 35% 23%;
    --sidebar-primary-foreground: 60 30% 98%;
    --sidebar-accent: 112 15% 90%;
    --sidebar-accent-foreground: 112 35% 23%;
    --sidebar-border: 112 15% 85%;
    --sidebar-ring: 112 35% 33%;
  }

  .dark {
    --background: 112 35% 15%;
    --foreground: 60 30% 98%;

    --card: 112 35% 15%;
    --card-foreground: 60 30% 98%;

    --popover: 112 35% 15%;
    --popover-foreground: 60 30% 98%;

    --primary: 112 30% 40%;
    --primary-foreground: 60 30% 98%;

    --secondary: 112 30% 20%;
    --secondary-foreground: 60 30% 98%;

    --muted: 112 30% 20%;
    --muted-foreground: 112 15% 65%;

    --accent: 112 30% 20%;
    --accent-foreground: 60 30% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 30% 98%;

    --border: 112 30% 25%;
    --input: 112 30% 25%;
    --ring: 60 30% 90%;

    --sidebar-background: 112 35% 20%;
    --sidebar-foreground: 60 30% 95%;
    --sidebar-primary: 112 30% 50%;
    --sidebar-primary-foreground: 60 30% 98%;
    --sidebar-accent: 112 30% 25%;
    --sidebar-accent-foreground: 60 30% 95%;
    --sidebar-border: 112 30% 25%;
    --sidebar-ring: 112 30% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.chosen-item {
  position: relative;
}

.chosen-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 80, 39, 0.5); /* Verde com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.chosen-item::before {
  content: "Escolhido";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
